@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');

html, body {font-family: 'Roboto', sans-serif; height: 100%;}
body {align-items: center; background-color: #13293D !important;     font-family: 'Noto Serif', serif; padding-top: 40px; padding-bottom: 40px; -ms-flex-align: center; }
.reduce-main {display: -ms-flexbox; display: flex;}

/* Seleção com mouse */
:-moz-selection {color:#fff; background:#FFC203;}
::selection {color:#fff; background:#FFC203;}
/* Seleção com mouse */

h1 {font-size: 50px;}
h1, h2, .text-muted { color: #fff !important;}
.color-y{color:#FFC203}
.color-y:hover{color: #FFC203; text-decoration: none;}
.input-group-lg>.form-control:not(textarea) {height: calc(1.5em + 1rem + 30px);}
.btn-outline-primary{border-color: #fff; color:#fff;}
.btn-lg {padding: 1.5rem 1rem;}
.panel {background-color: #fff; padding: 20px; border-radius: 4px;}
th,td {color:#888;}
.panel-title {color:#005490;}


@media (max-width: 768px) {
  .input-group-lg {margin-bottom: 20px;}
  .text-muted {font-size: 14px;}
}

#input-url{
  padding-left: 15px;
  border: none;
  outline: none;
  border-radius: 2px;
  width: 400px;
  height: 60px;
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 0.8px;
  
}

#input-url:focus{
  border: 1px solid rgba(1, 83, 104, 0.795) !important;
}

#main-header{
  background-color: #13293D;
}
#main-container{
  padding-top: 10%;
}
#container-content{
  margin: 0 auto !important; 
}

#logo{
  color: rgb(175, 175, 175);
}

#title{
  color: #1B98E0 !important;
}